<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lh.leonard.amplifiedscheduler">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <service android:name="com.backendless.AndroidService" />

        <activity
            android:name=".MainActivity"
            android:label="Amplified Scheduler"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:label="Sign Up"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyCreatedSlotsDialog"
            android:label="" />
        <activity
            android:name=".MyCreatedSlots"
            android:label="My Events" />
        <activity
            android:name=".SlotsImGoingTo"
            android:excludeFromRecents="true"
            android:label="Going To Events" />
        <activity
            android:name=".SlotsAwaitingMyResponse"
            android:excludeFromRecents="true"
            android:label="Invited Events" />
        <activity
            android:name=".UpdateAccount"
            android:excludeFromRecents="true"
            android:label="Update Account" />
        <activity
            android:name=".MapsActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".ForgotPasswordReset"
            android:label="Password Reset" />
        <activity
            android:name=".SlotsImGoingToDialog"
            android:label="" />
        <activity
            android:name=".CreateSlot"
            android:label="Create Event/Plan"
            android:noHistory="true" />
        <activity
            android:name=".MyPlans"
            android:label="My Plans" />
        <activity
            android:name=".RecipientsForSlot"
            android:label=""
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".AddRemoveContactsTabbed"
            android:label="Manage Contacts"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NavDrawerActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".SlotsPendingMyResponseDialog"
            android:label="" />
        <activity
            android:name=".JustMapActivity"
            android:label="" />
        <activity
            android:name=".ParticipantsActivity"
            android:theme="@android:style/Theme.Dialog" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAgLfiKNQonSw2Tuxkg0zNk_LehF7Gpkzo" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>
</manifest>
